/* ====================================================================
- General Stylesheet -
==================================================================== */

/*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
*/

html {
    font-size: 62,5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

/**************** nav ****************/

#nav {
    background-color: #fff;
    height: 5rem;
    display: flex;
    box-shadow: 0px 16px 10px rgba(114, 114, 114, 0.2);
}

#nav a {
    width: 15rem;
    height: 4.4rem;
}

#nav a img {
    width: 100%;
    height: auto;
}

/**************** contents ****************/

/*  services  */

#contentService {
    width: 50%;
}

label {
    text-transform: uppercase;
    font-weight: 900;
}

/**************** footer ****************/

footer {
    text-transform: uppercase;
    box-shadow: 0px -8px 10px rgba(114, 114, 114, 0.2);
    display: inline;
}


/* ====================================================================
- Responsive Stylesheet -
==================================================================== */

@media screen and (min-width: 200px) and (max-width: 800px) {
  /**************** nav ****************/
 
  #nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    }

  #nav a {
    width: 12rem;
    height: 4.4rem;
    margin-left: 1rem;
    margin-top: 0.6rem;
    }

    .navbarNav {
        display: none;
    }

    /**************** contents ****************/
    #contents{
        display: block;
    }

    .containerImage {
        display: none;
    }

    /**************** footer ****************/

    footer {
        width: 100%;
        height: 5rem;
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #fff;
        box-shadow: 0px -8px 10px rgba(114, 114, 114, 0.2);
    }
}

@media screen and (min-width: 800px) and (max-width: 2880px) {

    .brandlogo {
        margin-left: 2rem;
    }

    #nav a {
        width: 15rem;
        height: 4.4rem;
        padding-left: 1rem;
    }

    .navbarNav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 38rem;
        margin-left: auto;
        padding-right: 2rem;
    }
    
    li {
        list-style: none;
    }


    .navbarNav li a {
        font-size: 0.85rem;
        font-weight: 600;
        color: rgb(88, 88, 88);
        text-transform: uppercase;
        text-decoration: none;
    }

    li #pseudo {
        text-transform: initial;
        color: rgb(184, 183, 183);
        margin-top: 0;
        margin-bottom: 1rem;
        margin-right: 0;
        margin-left: 0;
    }

    #avatar {
        width: 2rem;
        height: 2rem;
        display: inline-flex;
        margin: 0;
    }

    .navbarNav img{
        width: 100%;
        height: auto;
    }
    
    /**************** contents ****************/

    .flexblock {
        display: flex;
        padding-top: 7rem;
    }
     #contents{
        display: block;
    }

    /*  services  */

    #contentService {
        width: 50%;
    }

    /**************** asider ****************/
    .containerImage {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        background-color: rgb(192, 240, 247);
    }

    .imageCar {
        width: 20rem;
    }

    .imageCar img {
        width: 100%;
        height: auto;
    }

    footer {
        width: 50%;
    }
}