/* ====================================================================
- General Stylesheet -
==================================================================== */

/*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
*/
*{
    box-sizing: border-box;
}

html {
    font-size: 62,5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    position: relative;
}

/**************** nav ****************/

#nav {
    background-color: #fff;
    display: flex;
    box-shadow: 0px 16px 10px rgba(114, 114, 114, 0.2);
    
}

#nav a {
    width: 15rem;
    height: 4.4rem;
}

#nav a img {
    width: 100%;
    height: auto;
}

/**************** contents ****************/

/*  services  */

label {
    display: block;
    text-transform: uppercase;
    font-weight: 900;
}

input {
    border-radius: 0.5rem;
    border: 1px solid rgb(138, 138, 138);
    padding: 0.5rem
}

.buttonA {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.off {
    background-color: none;
    color: rgb(116, 115, 115);
    border: 0;
    border-radius: 0.5rem;
}

.on{
    background-color: rgb(133, 206, 194);
    border: 0;
    border-radius: 0.5rem;
    color: #fff
}

span .cherckboxText {
    font-size: 0.8rem;
    font-weight: 400;
    color: rgb(199, 199, 199);
}

/**************** footer ****************/

footer {
    text-transform: uppercase;
    background-color: #fff;
    box-shadow: 0px -4px 10px rgba(114, 114, 114, 0.1);
    display: inline;
}

.cacher {
    display: none;
}

/* ====================================================================
- Responsive Stylesheet -
==================================================================== */

@media screen and (min-width: 200px) and (max-width: 800px) {
  /**************** nav ****************/
 
  

  #nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    }

  #nav a {
    width: 12rem;
    height: 4.4rem;
    margin-left: 1rem;
    margin-top: 0.6rem;
    }

    .navbarNav {
        display: none;
    }

    /**************** contents ****************/
    #contents{
        display: block;
    }

    .containerImage {
        display: none;
    }

    #contentService {
        overflow:scroll;
        width: 100%;
        margin-left: 15%;
    }

    .flexblock {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-top: 7rem;
        padding-bottom: 8rem;
    }

    h2 {
        width: 80%;
    }

    label {
        margin-top: 1.7rem;
    }

    .texte {
        width: 80%;
        height: 3rem;
        margin-top: 0.8rem;
    }

    .buttonA {
        width: 80%;
        height: 3rem;
        margin-top: 0.8rem;
    }

    .switch {
        display: grid;
    }


    /**************** footer ****************/

    footer {
        width: 100%;
        height: 5rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #fff;
        box-shadow: 0px -8px 10px rgba(114, 114, 114, 0.2);
    }
    
    .buttonF {
        height: 2.4rem;
        width: 10rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .positif {
        background-color: rgb(133, 206, 194); 
        color: #fff;
        margin-right: 1rem;
    }

    .negatif {
        background-color: #fff; 
        border: 1px solid rgb(133, 206, 194);
        color: rgb(133, 206, 194);
    }
}

@media screen and (min-width: 800px) and (max-width: 2880px) {

    /*.wrapper { 
        height: 100vh;
  }*/

    .brandlogo {
        margin-left: 2rem;
        
    }

    #nav {
        height: 8vh;
    }

    #nav a {
        width: 15rem;
        height: 4.4rem;
        padding-left: 2rem;
        margin-top: 0.3%;
    }

    .navbarNav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 38rem;
        margin-left: auto;
        padding-right: 2rem;
    }
    
    li {
        list-style: none;
    }


    .navbarNav li a {
        font-size: 0.85rem;
        font-weight: 600;
        color: rgb(88, 88, 88);
        text-transform: uppercase;
        text-decoration: none;
    }

    li #pseudo {
        text-transform: initial;
        color: rgb(184, 183, 183);
        margin-top: 0;
        margin-bottom: 1rem;
        margin-right: 0;
        margin-left: 0;
    }

    #avatar {
        width: 2rem;
        height: 2rem;
        display: inline-flex;
        margin: 0;
    }

    .navbarNav img{
        width: 100%;
        height: auto;
    }
    
    /**************** contents ****************/

   
     #contents{
        display: flex;
        height: 92vh;
    }

    /*  services  */

    #contentService {
        overflow:scroll;
        width: 50%;
        height: 100%;
    }

    .flexblock {
        display: block;
        padding-top: 7rem;
        padding-bottom: 8rem;
    }

    .container {
        margin-left: 10%;
    }

    .buttonA {
        width: 11rem;
        height: 2.4rem;
        margin-top: 0.8rem;
        margin-bottom: 1.6rem;
        margin-right: 1rem;
    }

    .texte{
        margin-top: 0.8rem;
        margin-bottom: 1.6rem;
        border-radius: 0.5rem;
        height: 2.4rem;
    }


    .switch {
        display: block;
    }

    .checkbox{
        margin: 0;
    }

    .cherckboxText {
        width: 11.2rem;
        display: inline-table;
    }

    footer {
        position: absolute; 
        bottom: 0;
        width: 50%;
        height: 7rem;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .buttonF {
        height: 2.4rem;
        width: 12rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .positif {
        background-color: rgb(133, 206, 194); 
        margin-right: 2rem;
        color: #fff;
    }

    .negatif {
        background-color: #fff; 
        border: 1px solid rgb(133, 206, 194);
        margin-left: 2rem;
        color: rgb(133, 206, 194);
    }
    
    /**** asider ****/
    .containerImage {
        width: 50%;
        display: flex;
        justify-content: center;
        background-color: rgb(133, 206, 194);
    }

    .imageCar {
        width: 27rem;
        margin-top: 40%;
    }

    .imageCar img {
        width: 100%;
        height: auto;
    } 

    
}